<% include partials/header %>



<div class="jumbotron">
    <h1 class="display-4"><center>Welcome To Lab 3 & Lab 4</center></h1>

    <center><a class="btn btn-success btn-lg" href="/books" role="button">Books</a></center>
</div>






<% include partials/footer %>